/* Root element */
:root {
  transition: background-color 0.5s ease-in-out;
}

/* Router */
.router {
  width: 100%;
}

.light-mode {
  --main-bg-color: rgb(255, 249, 235);
  color: var(--color);
}

/* Dark mode */
.dark-mode {
  --main-bg-color: #111;
  color: #fff;
}
/* Mode toggle button */
.mode {
  height: 48px;
  width: 48px;
  background-image: url("../img/sun.png");
}

.light-mode .mode {
  background-image: url("../img/moon.png");
}

.dark-mode .mode {
  background-image: url("../img/sun.png");
}

/* Scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Document */
html {
  /* overflow: scroll; */
  scroll-behavior: smooth;
}

/* Reset default styles */
* {
  padding: 0;
  margin: 0;
  font-family: "Switzer", sans-serif;
  box-sizing: border-box;
  transition: background-color 0.5s ease-in-out;
}

/* Kani section */
.kani {
  height: 100%;
  width: 100%;
  background-color: var(--main-bg-color);
  background-size: cover;
  background-position: center;
}

.q-tab__label {
  color: white;
  transition: color 0.5s;
}

.q-tab__label:hover {
  color: red;
}

.logo {
  transition: color 0.5s;
  font-weight: 600 !important;
  color: white;
}

.logo:hover {
  color: red;
}

.logo > span {
  color: red;
}

.logo:hover > span {
  color: white;
}

.q-toolbar__title:first-child {
  padding-top: 0.9em;
  padding-left: 2em !important;
  font-size: 1.6em;
}

@media (min-width: 768px) {
  .q-toolbar__title:first-child {
    font-size: 2.3em;
  }
}

@media (max-width: 768px) {
  .console-container {
    font-size: 2.5em;
    width: calc(100% - 2rem);
    padding: 0 1rem;
  }
}

@media (min-width: 768px) {
  .console-container {
    font-size: 4em;
    width: 600px;
  }
}

/* Import font */
@import url("https://fonts.cdnfonts.com/css/black-acute");

/* Body */
body {
  background-color: #111;
}
.light-mode body {
  background-color: #fff;
}

.dark-mode body {
  background-color: #111;
}

/* Hidden elements */
.console-container > .hidden {
  opacity: 0;
}

/* Console container */
.console-container {
  font-family: Khula;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
}

.dark-mode .console-container {
  color: white;
}
.light-mode .console-container {
  color: black;
}

/* Console text */
.console-text {
  font-size: 2.5em;
  white-space: normal;
}

@media (min-width: 480px) {
  .console-text {
    font-size: 3em;
  }
}

@media (min-width: 768px) {
  .console-text {
    font-size: 4em;
  }
}

/* Console underscore */
.console-underscore {
  display: inline-block;
  position: relative;
  width: 0;
  top: -0.14em;
  left: 10px;
}

.theme-toggle {
  transition: background-color 0.3s, color 0.3s;
}

.theme-toggle:hover {
  background-color: white;
  color: black;
}

.drawer-item {
  position: relative;
}

.drawer-item-description {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s, left 0.3s, color 0.3s;
  white-space: nowrap;
  pointer-events: none;
  color: white;
}

.q-drawer {
  height: 100%;
  overflow-y: auto;
  width: 15.625em;
}

.drawer-item-logo {
  position: relative;
  display: inline-block;
}

.drawer-item:hover .drawer-item-description {
  left: calc(100% + 1em);
  opacity: 1;
  color: red;
  pointer-events: auto;
}

.drawer-item:hover .icon-container .q-icon {
  transform: scale(0.8);
  transition: transform 0.3s, color 0.3s;
  color: red !important;
}

.switch {
  transform: scale(1.5);
}

.switch:hover {
  transform: scale(1.8);
  transition: transform 0.3s, color 0.3s;
  color: red !important;
}

.icon-container .q-icon {
  transform: scale(1.5);
  transition: transform 0.3s, color 0.3s;
}

/* Set the position of the drawer to fixed and increase the z-index */
.q-drawer {
  position: fixed;
  z-index: 1000;
}

.theme-toggle-drawer-item:hover .drawer-item-logo {
  opacity: 0.7;
}

.theme-toggle-drawer-item:active .drawer-item-logo {
  opacity: 0.5;
}

/* Console wrapper */
.console-wrapper {
  display: inline-block;
  white-space: pre-wrap;
  width: 100%;
  max-width: 100%;
}

/* Console underscore */
.console-underscore {
  display: inline-block;
  position: relative;
  width: 0;
  top: -0.14em;
  left: 0.2em;
}

a:-webkit-any-link {
  text-decoration: none !important;
}
