/* Root element */
:root {
  transition: background-color 0.5s ease-in-out;
}

/* Router */
.router {
  width: 100%;
}

/* Light mode */
.light-mode {
  --main-bg-color: rgb(255, 249, 235);
  background: #fff;
  color: var(--color);
}

/* Dark mode */
.dark-mode {
  --main-bg-color: #111;
  background: #111;
  color: #fff;
}

/* Mode toggle button */
.mode {
  height: 48px;
  width: 48px;
  background-image: url("../img/sun.png");
}

.light-mode .mode {
  background-image: url("../img/moon.png");
}

.dark-mode .mode {
  background-image: url("../img/sun.png");
}

/* Scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Document */
html {
  /* overflow: scroll; */
  scroll-behavior: smooth;
}

/* Reset default styles */
* {
  padding: 0;
  margin: 0;
  font-family: "Switzer", sans-serif;
  box-sizing: border-box;
  transition: background-color 0.5s ease-in-out;
}

/* Kani section */
.kani {
  height: 100%;
  width: 100%;
  background-color: var(--main-bg-color);
  background-size: cover;
  background-position: center;
}

.q-tab__label {
  color: white;
  transition: color 0.5s;
}

.q-tab__label:hover {
  color: red;
}

.heading {
  transition: color 0.5s;
  font-size: 2em !important;
  font-weight: 600 !important;
}

.heading:hover {
  color: red;
}

.heading > span {
  color: red;
}

.heading:hover > span {
  color:white;
}

.q-toolbar__title:first-child {
  padding-top: 1em;
  padding-left: 2em !important;
}

/* Import font */
@import url("https://fonts.cdnfonts.com/css/black-acute");

/* Body */
body {
  background: #111;
}

/* Hidden elements */
.hidden {
  opacity: 0;
}

/* Console container */
.console-container {
  font-family: Khula;
  font-size: 4em;
  text-align: center;
  height: 200px;
  width: 600px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
}
.dark-mode .console-container {
  color: white;
}
.light-mode .console-container {
  color: black;
}

/* Console underscore */
.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}
