/* Root element */
:root {
  transition: background-color 0.5s ease-in-out;
}

/* Router */
.router {
  width: 100%;
}

/* Light mode */
.light-mode {
  --main-bg-color: rgb(255, 249, 235);
  background: #fff;
  color: var(--color);
}

/* Dark mode */
.dark-mode {
  --main-bg-color: #111;
  background: #111;
  color: #fff;
}

/* Mode toggle button */
.mode {
  height: 48px;
  width: 48px;
  background-image: url("../img/sun.png");
}

.light-mode .mode {
  background-image: url("../img/moon.png");
}

.dark-mode .mode {
  background-image: url("../img/sun.png");
}

/* Scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Document */
html {
  /* overflow: scroll; */
  scroll-behavior: smooth;
}

/* Reset default styles */
* {
  padding: 0;
  margin: 0;
  font-family: "Switzer", sans-serif;
  box-sizing: border-box;
  transition: background-color 0.5s ease-in-out;
}

/* Kani section */
.kani {
  height: 100%;
  width: 100%;
  background-color: var(--main-bg-color);
  background-size: cover;
  background-position: center;
}

/* Navigation bar */
nav {
  z-index: 999;
  position: sticky;
  top: 0;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 100px; /* shift center items to the left just a little */
  padding-right: 8%;
  padding-bottom: 40px;
}

.sub-nav {
  top: 0;
}

/* Logo */
.logo {
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: color 0.5s;
}

.logo:hover {
  color: #ee0707;
}

.logo:hover > span {
  color: white;
}

/* Highlighted text */
span {
  color: #ee0707;
}

/* Navigation links */
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}

nav ul li a:hover {
  color: #ee0707;
  transition: 0.4s;
}

/* Button */
.btn {
  background-color: #ee0707;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform 0.4s;
}

/* Mode toggle button */
.mode {
  opacity: 1;
  background-color: transparent;
  transform: scale(0.5);
  transition: transform 0.2s ease-in-out;
}

.mode:hover {
  transform: scale(0.6);
}

/* Button hover effect */
.btn:hover {
  transform: scale(1.2);
}

/* Import font */
@import url("https://fonts.cdnfonts.com/css/black-acute");

/* Body */
body {
  background: #111;
}

/* Hidden elements */
.hidden {
  opacity: 0;
}

/* Console container */
.console-container {
  font-family: Khula;
  font-size: 4em;
  text-align: center;
  height: 200px;
  width: 600px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
}
.dark-mode .console-container {
  color: white;
}
.light-mode .console-container {
  color: black;
}

/* Console underscore */
.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}
